*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}

body {
    background: #1C1C1C;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 800px;
    padding: 1.5rem 2rem;
    margin: 0 auto;
}

header,
main {
    width: 24rem;
}

header {
    height: 13rem;
    background-image: url(images/headerbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-pg .movie_link  {
    list-style: none;
    cursor: pointer;
}

.movie_link a {
    color: #fff;
    text-decoration: none;
}

.header-flex,
.searchbarbtnflex,
.header_flex{
    text-align: center;
}
.header_flex{
    margin-top: 4rem;
}

.search-bar {
    width: 100%;
    margin-top: 1rem;
    padding: 0.35rem 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    border: none;
    border-radius: 15px;
    color: #A5A5A5;
    background: #2E2E2F;
    /* shadow/sm */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.search {
    position: relative;
}

.search_icon {
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
}

.search-btn {
    padding: 0.3rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #4B4B4B;
    color: #fff;
}

main {
    background: #121212;
    height: 300rem;
}

.movie_container {
    position: relative;
}

.film-tape-icon {
    width: 200px;
    top: 20rem;
    left: 3rem;
}

#txt-hidden {
    display: none;
}

#watchlisttxt {
    display: block;
}

.film-tape-icon,
.film-txt {
    position: absolute;
   
}

.film-txt {
    color: #787878;
    padding: 0rem 0.5rem;
    text-align: center;
    top: 30rem;
    left: 2rem;
}

.addmoviebtntxt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20rem;
}

.addtxt {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.movie-poster {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.movie_container,
.movie_list_txt {
    text-align: center;
}

.watchlistbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.movie_list_flex {
    border-bottom: 2px solid #4B4B4B;
    margin-bottom: 30px;
}

.plot {
    margin-bottom: 20px;
}


@media (min-width: 800px){

    header,
    main {
    width: 47rem;
    display: block;
    margin: 0 auto;
    }

    .header-flex,
    .watchlist_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .link-pg {
        font-weight: 900;
        margin-top: 1.2rem;
    }

    .header-flex h1,
    .watchlist_flex h1 {
        font-size: 4em;
    }

    .searchbarbtnflex {
        display: flex;
        align-items: center;
        margin-top: 3.5rem;
    }

    .search {
        width: 100%;
    }

    .search_icon {
        top: 1.8rem;
    }

    .search-bar {
        padding: 0.8rem;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .search-btn {
        padding: 0.75rem 2.3rem;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-top: 8px;
    }

    #refresh_btn {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .film-tape-icon {
        position: absolute;
        top: 20rem;
        left: 12rem;
    }

    .film-txt {
        left: 33rem;
        top: 33rem;
    }

    .movie_link a {
        font-size: 1.2em;
        font-weight: 500;
    }

    .movie_list_flex {
        display: flex;
    }

    .movie_container {
        margin-top: 2rem;
    }

    .movie-poster {
        width: 35%;
        margin-bottom: 2rem;
    }

    .first_txt_flx {
        display: flex;
        align-items: center;
        margin-left: 0.3rem;
        gap: 15px;
        flex-wrap: wrap;
    }

    .movie-title {
        font-weight: 600;
    }

    .minandgenre-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .minandgenre-flex h3,
    .watchlist{
        font-weight: 200;
    }

    .actors {
        margin-top: 0.5rem;
        text-align: left;
    }

    .actors.runtime {
        font-weight: 600;
    }

    .watchlistbtn {
        margin-top: 0.7rem;
        margin-left: -17rem;
    }

    .plot {
        padding: 0.5rem;
        text-align: left;
    }

    .addmoviebtntxt {
        margin-top: 21rem;
    }

    .movie_list_txt {
        padding-left: 1rem;
    }
}